<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="luxonis_oak_d" params="parent *origin">

    <link name="oak_d_camera_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.110"/>
        <inertia ixx="0.00002" ixy="0" ixz="0"
                 iyy="0.00010" iyz="0"
                 izz="0.00010"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.030 0.098 0.030"/>
        </geometry>
        <material name="oak_d_color">
          <color rgba="0.15 0.15 0.15 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.030 0.098 0.030"/>
        </geometry>
      </collision>
    </link>

    <joint name="oak_d_camera_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="oak_d_camera_link"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="oak_d_rgb_camera_frame"/>
    <joint name="oak_d_rgb_camera_joint" type="fixed">
      <parent link="oak_d_camera_link"/>
      <child link="oak_d_rgb_camera_frame"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="oak_d_left_camera_frame"/>
    <joint name="oak_d_left_camera_joint" type="fixed">
      <parent link="oak_d_camera_link"/>
      <child link="oak_d_left_camera_frame"/>
      <origin xyz="0 0.0375 0" rpy="0 0 0"/>
    </joint>

    <link name="oak_d_right_camera_frame"/>
    <joint name="oak_d_right_camera_joint" type="fixed">
      <parent link="oak_d_camera_link"/>
      <child link="oak_d_right_camera_frame"/>
      <origin xyz="0 -0.0375 0" rpy="0 0 0"/>
    </joint>

    <link name="oak_d_imu_frame"/>
    <joint name="oak_d_imu_joint" type="fixed">
      <parent link="oak_d_camera_link"/>
      <child link="oak_d_imu_frame"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

</robot>